@import './styles/utils';

.SassComponent {
    display: flex;
    .box {//일반 CSS에서는 .SassComponent .box와 같음
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;

        &.red {//.red클래스가 .box와 함께 사용되었을 때
            background: $red;
            @include sqaure(1);
        }

        &.orange {//.orange .box와 함께 사용되었을 때
            background: $orange;
            @include sqaure(2);
        }

        &.yellow {//.yellow .box와 함께 사용되었을 때
            background: $yellow;
            @include sqaure(3);
        }

        &.green {//.green클래스가 .box와 함께 사용되었을 때
            background: $green;
            @include sqaure(4);
        }

        &.blue {//.blue클래스가 .box와 함께 사용되었을 때
            background: $blue;
            @include sqaure(5);
        }

        &.indigo {//.indigo클래스가 .box와 함께 사용되었을 때
            background: $indigo;
            @include sqaure(6);
        }

        &.violet {//.violet클래스가 .box와 함께 사용되었을 때
            background: $violet;
            @include sqaure(7);
        }
        &:hover {
            // .box에 마우스 올려놨을때
            background: black;
        }
    }
}